.flight {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0;
}

.heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 25px;
  background-color: #4682B4;
  color: white;
}

.image {
  max-height: 46px;
}

.priceInfo {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 5px;
}

.price {
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-size: 22px;
}

.priceText {
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-size: 14px;
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0;
}

.route {
  width: 95%;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-size: 20px;
  margin: 10px auto 0 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid #DCDCDC;
}

.airport {
  font-family: inherit;
  font-weight: normal;
  font-size: 16px;
  color: #4682B4;
}

.airport_mod::after {
  content: ' \2192  ';
  color: #4682B4;
  font-size: 20px;
}

.info {
  display: flex;
  width: 95%;
  justify-content: space-between;
  align-items: center;
  margin: 20px auto;
}

.time {
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-size: 20px;
  line-height: normal;
  margin: 0;
}

.date {
  font-family: inherit;
  font-weight: normal;
  font-size: 16px;
  color: #4682B4;
}

.duration {
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-size: 20px;
  line-height: normal;
  margin: 0;
}

.duration::before {
  content: '\1F554 ';
}

.line {
  width: 85%;
  margin: 0;
}

.change {
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-size: 20px;
  color: darkorange;
  margin-top: -15px;
  background-color: white;
  width: 20%;
  text-align: center;
}

.airline {
  width: 95%;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-size: 16px;
  text-align: start;
  margin: 0 0 10px 0;
}

.line_blue {
  width: 100%;
  margin: 0;
  border-bottom: 1px solid #4682B4;
  box-sizing: border-box;
}

.btn {
  border-style: none;
  background-color: darkorange;
  color: white;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-size: 16px;
  text-transform: uppercase;
  padding-top: 10px;
  padding-bottom: 10px;
  cursor: pointer
}

.btn:hover {
  opacity: 0.6;
}

@media screen and (max-width: 980px) {
  .heading {
    padding: 3px 20px;
  }

  .image {
    max-height: 40px;
  }

  .price {
    font-size: 18px;
  }
  
  .priceText {
    font-size: 12px;
  }

  .route {
    font-size: 16px;
    margin: 8px auto 17px;
    padding-bottom: 8px;
    text-align: center;
  }

  .airport {
    font-size: 12px;
  }

  .airport_mod::after {
    content: ' \2192  ';
    font-size: 16px;
  }

  .info {
    margin: 16px auto;
  }
  
  .time {
    font-size: 16px;
  }
  
  .date {
    font-size: 12px;;
  }
  
  .duration {
    font-size: 16px;
  }
  
  .change {
    font-size: 15px;
    margin-top: -12px;
  }
  
  .airline {
    font-size: 14px;
    margin: 0 0 7px 0;
  }

  .btn {
    font-size: 14px;
    padding-top: 7px;
    padding-bottom: 7px;
  }
}

@media screen and (max-width: 510px) {
  .heading {
    padding: 3px 10px;
  }

  .image {
    max-height: 30px;
  }

  .price {
    font-size: 14px;
  }

  .priceText {
    font-size: 10px;
  }

  .route {
    font-size: 13px;
    margin: 5px auto 14px;
    padding-bottom: 5px;
  }

  .airport {
    font-size: 12px;
  }

  .airport_mod::after {
    content: ' \2192  ';
    font-size: 14px;
  }

  .info {
    margin: 12px auto;
  }
  
  .time {
    font-size: 13px;
  }
  
  .date {
    font-size: 10px;;
  }
  
  .duration {
    font-size: 13px;
  }
  
  .change {
    font-size: 10px;
    margin-top: -9px;
  }
  
  .airline {
    font-size: 12px;
    margin: 0 0 5px 0;
  }

  .btn {
    font-size: 12px;
    padding-top: 5px;
    padding-bottom: 5px;
  }
}

@media screen and (max-width: 510px) {
  .heading {
    padding: 3px 10px;
  }

  .image {
    max-height: 30px;
  }

  .price {
    font-size: 14px;
  }

  .priceText {
    font-size: 10px;
  }

  .route {
    font-size: 13px;
    margin: 5px auto 14px;
    padding-bottom: 5px;
  }

  .airport {
    font-size: 12px;
  }

  .airport_mod::after {
    content: ' \2192  ';
    font-size: 13px;
  }

  .info {
    margin: 12px auto;
  }
  
  .time {
    font-size: 13px;
  }
  
  .date {
    font-size: 10px;;
  }
  
  .duration {
    font-size: 13px;
  }
  
  .change {
    font-size: 12px;
    margin-top: -9px;
  }
  
  .airline {
    font-size: 12px;
    margin: 0 0 5px 0;
  }

  .btn {
    font-size: 12px;
    padding-top: 5px;
    padding-bottom: 5px;
  }
}

@media screen and (max-width: 420px) {
  .change {
    font-size: 10px;
  }
}

@media screen and (max-width: 320px) {
  .image {
    max-height: 25px;
  }

  .price {
    font-size: 13px;
  }

  .priceText {
    font-size: 9px;
  }

  .route {
    font-size: 12px;
    margin: 4px auto 12px;
    padding-bottom: 3px;
  }

  .airport {
    font-size: 10px;
  }

  .airport_mod::after {
    content: ' \2192  ';
    font-size: 12px;
  }

  .info {
    margin: 10px auto;
  }
  
  .time {
    font-size: 12px;
  }
  
  .duration {
    font-size: 12px;
  }
  
  .change {
    font-size: 9px;
    margin-top: -7px;
  }
  
  .airline {
    font-size: 10px;
  }

  .btn {
    font-size: 10px;
    padding-top: 4px;
    padding-bottom: 4px;
  }
}
