.App {
  min-height: 100vh;
  background-color: white;
  margin: 0 auto;
  padding: 20px 30px 40px 30px;
  color: #F2F2F3;
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 30px;
  box-sizing: border-box;
}

