.container {
  display: flex;
  align-items: center;
}

.label {
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-size: 14px;
  max-width: 140px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-left: 5px;
}

.label::before {
  content: '- ';
}

.span_price {
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-size: 14px;
  margin-left: auto;
}

.filter {
  cursor: pointer;
}

@media screen and (max-width: 980px) {
  .label {
    font-size: 12px;
    margin-left: 3px;
  }

  .span_price {
    font-size: 12px;
  }
}

@media screen and (max-width: 320px) {
  .label {
    font-size: 10px;
    margin-left: 2px;
  }

  .span_price {
    font-size: 10px;
  }
}