.container {
  display: flex;
  align-items: center;
  gap: 5px
}

.label {
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-size: 14px;
  max-width: 140px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.label::before {
  content: '- ';
}

.span_price {
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-size: 14px;
  margin-left: 5px;
}

.filter {
  cursor: pointer;
}