.section {
  display: flex;
  position: sticky;
  top: 20px;
  height: max-content;
}

.filters {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.fieldset {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.heading {
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-size: 16px;
  line-height: 16px;
  margin: 0 0 10px 0;
}

.container {
  display: flex;
  align-items: center;
  gap: 5px
}

.label {
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-size: 14px;
}

.label_airline {
  max-width: 140px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.label_modified::before {
  content: '- ';
}

.text_input {
  max-width: 200px;
  font-family: inherit;
  font-size: 14px;
}

.text_input:focus {
  outline-width: 3px;
  outline-color:#4682B4;
}

.filter {
  cursor: pointer;
}

.btn {
  display: none;
  cursor: pointer;
  background-color: transparent;
}

.btn:hover {
  opacity: 0.6;
}

.image {
  height: 100%;
  transition: 0.5s linear;
}

.image_transformed {
  transform: rotate(180deg);
}

@media screen and (max-width: 980px) {
  .filters {
    gap: 25px;
  }

  .heading {
    font-size: 14px;
    line-height: 12px;
  }

  .label {
    font-size: 12px;
  }

  .text_input {
    font-size: 12px;
  }
}

@media screen and (max-width: 767px) {
  .section {
    flex-direction: column;
    top: 0;
    background-color: white;
    padding-top: 20px
  }
  
  .filters {
    flex-direction: row;
    column-gap: 10px;
    row-gap: 20px;
    flex-wrap: wrap;
    justify-content: space-evenly;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease;
  }

  .filters_opened {
    max-height: 500px;
    margin: 0 0 20px 0;
  }

  .text_input {
    max-width: 130px;
  }
  
  .btn {
    display: block;
    width: 100%;
    height: 25px;
    border: 1px solid #4682B4;
    border-radius: 10px;
  }
}

@media screen and (max-width: 320px) {
  .section {
    padding-top: 15px
  }
  
  .filters {
    column-gap: 7px;
    row-gap: 15px;
  }

  .filters_opened {
    margin: 0 0 15px 0;
  }

  .heading {
    font-size: 12px;
    line-height: 10px;
    margin: 0 0 5px 0;
  }

  .label {
    font-size: 10px;
  }

  .text_input {
    font-size: 10px;
    max-width: 100px;
  }

  .btn {
    height: 20px;
  }
}